* {
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1140px;
  margin: 0 auto;
}
main {
  max-width: 1047px;
  margin: 0 auto;
}
/* shared styles */
.primary-btn {
  background-color: rgba(224, 44, 109, 1);
  border-radius: 41px;
  padding: 10px 24px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}
.primary-btn:hover {
  transition: 0.9s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
}
.dark-2 {
  color: rgb(95, 92, 92);
}

/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
}

.list-parent {
  display: flex;
  justify-content: space-between;
  color: tomato;
}
.list-parent > li:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 1s;
}

.list-parent > li {
  text-decoration: none;
  list-style: none;
  margin: 10px;
}
.list-parent img {
  margin-top: 12px;
  max-width: 20px;
  max-height: 20px;
  margin: 10px;
}

/* header-section */

.header-section {
  margin-top: 80px;
  display: flex;

  gap: 133px;
  background-size: cover;
}
.header-image {
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.header-content {
  max-width: 582px;
  max-height: 270px;
}

/* company-icon */
.company-icon {
  margin-left: 36px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* collction-container */
.Popular-Collection {
  margin-top: 80px;
  text-align: center;
}
.collction-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.Collection-content:hover {
  background-color: rgb(237, 238, 240);
}

.Collection-content {
  box-shadow: 0 1px 2px 0;
  padding: 12px;
  border-radius: 6px;
}

.tripod {
  margin: 0px;
}

#rate {
  font-size: 1.25rem;
}
.collection-img {
  text-align: center;
}
#see {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
  color: rgba(224, 44, 109, 1);
  text-decoration: none;
  gap: 5px;
}

/* feature-product */
.feature-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* brand-icon */
.footer-container {
  margin-top: 80px;
  text-align: center;
  background-color: rgba(170, 170, 170, 1);
  padding: 30px;
}
.brand-icon {
  display: flex;
  justify-content: center;
  gap: 23px;
  font-size: 1.4rem;
}

.hide {
  display: none;
}

/* styles media query */

@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .list-parent {
    flex-direction: column;
    align-items: center;
  }
  .header-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .company-icon {
    grid-template-columns: repeat(1, 1fr);
    gap: 33px;
    margin-left: 50%;
  }
  .collction-container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
  }
  .feature-product {
    grid-template-columns: repeat(1, 1fr);
  }
  #see {
    /* align-items: start; */
    justify-content: start;
    margin: 14px;
    margin-left: 12px;
  }
  .header-content {
    text-align: center;
  }
  .feature-product {
    text-align: center;
  }
  .feature-img {
    max-width: 100%;
  }
}

/* responsive for tablet */
@media screen and (max-width: 992px) and (min-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .header-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .company-icon {
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
    margin-left: 200px;
  }
  .collction-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #see {
    justify-content: start;
    margin: 8px;
  }
  .feature-product {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
